body {
  background: url('../img/game-table.png') no-repeat;
  background-size: cover;
  color: yellow;
  background-color: black;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: cover;
}

div.card.covered {
  background-image: url('../img/card-back.png');
}

.hand {
  margin-left: 20%;
  overflow: auto;
}

#scoreboard {
  margin-top: 160px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  margin: 0 0 5px 0;
}

.dealer-hand-container {
  margin-bottom: 20px;
}

#controls,
#chips {
  text-align: center;
}

#chips {
  margin-bottom: 60px;
}

.chips-container,
.bet-container {
  font-size: 24px;
  display: inline-block;
  margin: 0 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
}
